# dependencies
node_modules/

# React Native
# Built application files
*.apk
*.ipa
*.app

# Keystore files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Bundle artifacts
*.jsbundle

# Metro
.metro-health-check*

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Temporary files
tmp/
